*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 3px solid #4A90E2;
    outline-offset: 2px;
}

html {
    font-size: 16px; 
}


.app {
    display: flex;
    height: 100vh;
}

.menuLateral {
    background-color: rgb(255, 255, 255);
    flex: 2.0;
}

.conteudoPricipal{
    background-color: blue;
    flex: 8.0;
}

.logoContainer{
    display: flex;
    align-items: center;
    gap:10px;
}
.logoMenu {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  align-items: center;
  gap: 10px;
}
.logoMenu img{
    width: 60px;
    height: 60px;
}

.menuSaad{
    border: blac;
}

.Perfil{
    display: flex;
    align-items: center;
    gap:10px;
    width: 100%;
}
.fotoPerfil{
    margin: 10px;
}

.fotoPerfil img{
    width: 60px;
    height: 60px;
}

.config{
    margin-left: auto;
    padding:10px;
}
.config img {
    width: 30px;
    height: 30px;
    display: block; 
}

.cadastro{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap:10px;
}

.fotoCadastro img{
    width: 40px;
    height: 40px;
}

a :hover{
    background-color: rgba(173, 223, 223, 0.932);
    border-radius: 30px;
}

a.cadastroLink{
    color: black;
    text-decoration: none;
}