*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 3px solid #4A90E2;
    outline-offset: 2px;
}

html {
    font-size: 16px; 
}

.app {
    display: flex;
    height: 100vh;
}

.menuLateral {
    background-color: red;
    flex: 2.0;
}

.conteudoPricipal{
    background-color: blue;
    flex: 8.0;
}