*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 3px solid #4A90E2;
    outline-offset: 2px;
}

html {
    font-size: 16px; 
}

.app {
    display: flex;
    height: 100vh;
}

.menuLateral {
    background-color: rgb(255, 255, 255);
    flex: 2.0;
    height: 100vh;
    position: relative;
}

.conteudoPricipal{
    background-color: rgb(255, 255, 255);
    flex: 8.0;
    height: 100vh;
}

.logoContainer{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap:20px;
    width: 100%;
}

.logoMenu {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  align-items: center;
  gap: 20px;
}

.logoMenu img{
    width: 60px;
    height: 60px;
}

.menuSaad{
    border: blac;
}

.Perfil{
    display: flex;
    align-items: center;
    gap:10px;
    width: 100%;
}

.fotoPerfil{
    margin: 10px;
}

.fotoPerfil img{
    width: 60px;
    height: 60px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer; 
}

button:focus {
    outline: none;
}

.config{
    margin-left: auto;
    padding:10px;
}
.config img {
    width: 30px;
    height: 30px;
    display: block; 
}

.alinhamento{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap:10px;
}

.botoesLaterais :hover{
    background-color: rgba(173, 223, 223, 0.932);
    border-radius: 30px;
        transition: 0.5s;
}

.fotos img{
    width: 40px;
    height: 40px;
}

.botoesLaterais{
    color: black;
    text-decoration: none;
}



.textoSair{
    color: black;
    text-decoration: none;
}


.textoSair:hover .sair {
    background-color: #e04f5f;
    border-radius: 30px; 
    color: white;
    transition: 0.3s;  
}


.sair{
    position: absolute;
    gap:10px;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    
}

.fotoSair img{
    width: 40px;
    height: 40px;
}


.baixo {
    position: absolute;
    bottom: 60px;
    width: 100%;
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #ccc;
    height: 0;
}

.menuLateral {
    border-right: 1px solid #ccc;
}


.logoEscola img{
    margin: auto;
    padding: 10px;
    display: block;
    border-radius: 30px;
    width: 800px;
}

.ladoEsquerdo {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 47.7px;
}

.ladoDireito {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center; 
    width: 50%;
    padding-right: 47.7px;
}


.inferior {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
}


.caixaTotal {
    background: #1e3a5f;
    border-radius: 14px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.fileira {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    gap: 14px;
    margin-top: 14px;
    width: 400px;
}

.contagem {
    background: rgba(255, 255, 255, 0.349);
    border-radius: 20px;
    padding: 10px 14px;
    font-size: 13px;
    font-weight: 600;
}

.autistas, .tdah, .dislexia, .outras{
    background: rgba(128, 128, 128, 0.603);
    border-radius: 14px;
    padding: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}